.header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}

.header__left {
    min-width: 70px;
    display: flex;
    flex: 0.6;
    align-items: center;
    padding: 10px;

    border-radius: 30px;
    background-color: white;
    color: grey;
   
}

.header__left > input {
    border: none;
    width: 100%;
}

.header__left > input:focus {
    border: none;
    width: 100%;
}

.header__right {
    display: flex;
    align-items: center;
}

.header__right > h4 {
    margin-right: 10px;
}